.container {
  width: 100%;
  max-width: 1234px;
  margin: 4rem auto;
  font-family: 'Space Grotesk', sans-serif;
}

.title {
  font-size: 2rem;
  background-color: #c1ff72;
  display: inline-block;
  padding: 0.2rem 1rem;
  font-weight: 600;
  border-radius: 5px;
}

.subtitle {
  margin-top: -40px;
  margin-bottom: 100px;
  margin-left: 400px;
  font-size: 1rem;
  color: #000;
}

.step {
  border: 1px solid #000;
  border-radius: 40px;
  padding: 1.5rem 2rem;
  background-color: #f3f3f3;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 #000;
}

.active {
  background-color: #c1ff72;
}

.stepHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number {
  font-size: 2rem;
  font-weight: 700;
}

.stepTitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.icon {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.description {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  margin-bottom: 20px;
}
.divider {
  height: 2px;
  background-color: black;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .subtitle {
    margin-left: 0;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .stepHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .icon img {
    width: 60px;
    height: 60px;
  }

  .number {
    font-size: 1.5rem;
  }

  .stepTitle {
    font-size: 1rem;
  }

  .description {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }

  .step {
    padding: 1rem;
    border-radius: 30px;
  }

  .stepTitle {
    font-size: 0.95rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icon img {
    width: 50px;
    height: 50px;
  }
}