.teamSection {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  
}

.label {
  margin-right: 1200px;
  background-color: #c1f651;
  padding: 0.4rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.header p {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-top: -40px;
  font-size: 1rem;
  color: #444;
  max-width: 600px;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.card {
  width: 350px;
  height: 400px;
  background: #fff;
  border: 1.5px solid #000;
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  box-shadow: 4px 4px 0 #000;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
}

.imageWrapper img {
  margin-bottom: -70px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 0.3rem;
}
.card h3 {
  align-items: center;
  margin-left: 130px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.title {
  justify-self: center;
  margin-left: 100px;
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.7rem;
}

.card hr {
  border: none;
  border-top: 1px solid black;
  margin: 0.8rem 0;
}

.experience {
  font-size: 0.9rem;
  color: black;
  line-height: 1.5;
  margin-top: 110px;
}
.image img {
  border-radius: 100px;
  margin-left: 250px;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

